{% extends 'base.html.twig' %}

{% block content %}
    <h1>get all users</h1>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                    <tbody>
                        <tr>

                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.email }}</td>
                            <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

        </div>
    </div>
{% endblock %}