{% extends '@MasterPeaceUpRead/UserLayout/student.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'book.view.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('student_classroom_list') }}" class="btn btn-primary">{{ 'classroom.view.list.button'|trans }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td><b>{{ 'book.create.title.label'|trans }}</b></td>
                    <td>{{ book.title }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'book.create.author.label'|trans }}</b></td>
                    <td>{{ book.author }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'book.create.year.label'|trans }}</b></td>
                    <td>{{ book.year }}</td>
                </tr>
                <tr>
                    <td><b>{{ 'book.create.isbn_code.label'|trans }}</b></td>
                    <td>{{ book.isbnCode }}</td>
                </tr>
                {% if book.cover %}
                    <tr>
                        <td colspan="2">{{ book.cover }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
