{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Users list</h1>

    <table class="table table-striped">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Email</th>
                      <th>Lastlogin</th>
                      <th>Note</th>
                      <th>Created</th>
                      <th>Actions</th>
                  </tr>
              </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-default btn-lg">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{% if user.lastLogin %}{{ user.lastLogin|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ user.note }}</td>
                    <td>{% if user.created %}{{ user.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                                <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-default btn-lg">show</a>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-default btn-lg">edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>

    <ul>
        <a href="{{ path('user_new') }}" class="btn btn-default btn-lg">Create a new user</a>
    </ul>
{% endblock %}
