{% extends '@MasterPeaceUpRead/UserLayout/teacher.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'classroom.list.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('teacher_classroom_create') }}"
               class="btn btn-success">{{ 'classroom.create.title'|trans }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        {% for classroom in classrooms %}
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">
                                    <a href="{{ path('teacher_classroom_view', {'id':classroom.id}) }}">{{ classroom.title }}</a>
                                </div>
                                <div style="text-align: right">
                                    {{ 'classroom.list.students'|trans }}&nbsp;&nbsp;&nbsp;<span
                                            class="badge badge-classroom">{{ classroom.students|length }}</span><br/>
                                    {{ 'classroom.list.quizes'|trans }}&nbsp;&nbsp;&nbsp;<span
                                            class="badge badge-classroom">{{ classroom.quizzes|length }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="input-group">
                            <span class="input-group-addon progress-bar-info" style="color: white; font-weight: bold">Invite</span>
                            <input type="text" onclick="this.select()" class="form-control"
                                   style="cursor: pointer; text-align: center; background-color: beige"
                                   readonly="readonly"
                                   value="{{ url('homepage') }}invite/{{ classroom.inviteCode }}"
                                   name="invite-link">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-footer">
                            <span class="pull-left">
                                <a href="{{ path('teacher_classroom_view', {'id':classroom.id}) }}">
                                    <button class="btn btn-xs btn-primary"
                                            type="button">{{ 'classroom.list.details'|trans }}</button>
                                </a>
                            </span>
                        <span class="pull-right">
                                <a href="{{ path('teacher_classroom_delete', {'id':classroom.id}) }}" {{ delete_link(classroom.id) }} class="confirmDelete">
                                    <button class="btn btn-xs btn-danger"
                                            type="button">{{ 'classroom.list.delete'|trans }}</button>
                                </a>
                            </span>
                        <div class="clearfix"></div>
                    </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}