{% extends '@MasterPeaceUpRead/UserLayout/teacher.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">"{{ classroom.title }}" {{ 'classroom.view.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('teacher_classroom_list') }}" class="btn btn-primary">{{ 'classroom.view.list.button'|trans }}</a>
            <a href="{{ path('teacher_classroom_edit', {'id': classroom.id}) }}"
               class="btn btn-info">{{ 'classroom.view.edit.button'|trans }}</a>
            <a href="{{ path('teacher_classroom_create') }}"
               class="btn btn-success">{{ 'classroom.view.create.button'|trans }}</a>
            <a href="{{ path('teacher_classroom_delete', {'id': classroom.id}) }}"
               class="btn btn-danger confirmDelete" {{ delete_link(classroom.id) }}>{{ 'classroom.view.delete.button'|trans }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'classroom.view.students.title'|trans }} <span class="badge badge-classroom-view">{{ classroom.students|length }}</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {# TODO: show student Name intead of ID #}
                            {% for student in classroom.students %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                </tr>
                            {%  endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{ 'classroom.view.quizzes.title'|trans }} <span class="badge badge-classroom-view">{{ classroom.quizzes|length }}</span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    {% for quiz in classroom.quizzes %}
                                        <tr>
                                            <td><a target="_blank" href="{{ path('teacher_quiz_view', { 'id': quiz.id }) }}">{{ quiz.title }}</a>&nbsp;&nbsp;<a class="confirmDelete" href="{{ path('teacher_classroom_detach', { 'id': classroom.id }) }}" {{ delete_link(classroom.id) }}><span class="badge progress-bar-danger">{{ 'classroom.view.delete'|trans }}</span></a> </td>
                                        </tr>
                                    {%  endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            {{ 'classroom.view.select_quiz.label'|trans }}
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                            {{ form_widget(form) }}
                                            <button type="submit" class="btn btn-info">{{ 'classroom.view.attach_quiz.button'|trans }}</button>
                                            {{ form_end(form) }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}