{% extends '@MasterPeaceUpRead/UserLayout/teacher.html.twig' %}

{% form_theme form 'MasterPeaceQuizBundle:Quiz/Teacher:form_theme.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'quiz.create.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('teacher_quiz_list') }}" class="btn btn-primary">{{ 'quiz.create.list.button'|trans }}</a>
        </div>
    </div>
    <br/>
    {{ include('MasterPeaceQuizBundle:Quiz/Teacher:form.html.twig', {form: form}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {{ include('@MasterPeaceQuiz/Quiz/Teacher/form.js.twig') }}
    </script>
{% endblock %}