{% extends '@MasterPeaceUpRead/UserLayout/teacher.html.twig' %}

{% form_theme form 'MasterPeaceQuizBundle:Quiz/Teacher:form_theme.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'quiz.edit.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('teacher_quiz_list') }}" class="btn btn-primary">{{ 'quiz.view.list.button'|trans }}</a>
            <a href="{{ path('teacher_quiz_create') }}"
               class="btn btn-success">{{ 'quiz.view.create.button'|trans }}</a>
            <a href="{{ path('teacher_quiz_delete', {'id': quiz.id }) }}"
               class="btn btn-danger" data-delete-token="{{ csrf_token(quiz.title ~ quiz.id) }}">{{ 'quiz.view.delete.button'|trans }}</a>
        </div>
    </div>
    <br/>
    {{ include('MasterPeaceQuizBundle:Quiz/Teacher:form.html.twig', {form: form}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addQuestionLink = $('<a href="#" class="add-question-link">{{ 'quiz.edit.add_question.label'|trans }}</a>');
        var $newLinkLi = $('<li></li>').append($addQuestionLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.questions');

            $('ul.questions > li').each(function() {
                console.log($(this));
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addQuestionLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addQuestionForm($collectionHolder, $newLinkLi);
            });
        });

        function addQuestionForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">{{ 'quiz.edit.del_question.label'|trans }}</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}