{% extends '@MasterPeaceUpRead/UserLayout/teacher.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'quiz.view.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('teacher_quiz_list') }}" class="btn btn-primary">{{ 'quiz.view.list.button'|trans }}</a>
            <a href="{{ path('teacher_quiz_edit', {'id': quiz.id}) }}"
               class="btn btn-info">{{ 'quiz.view.edit.button'|trans }}</a>
            <a href="{{ path('teacher_quiz_create') }}"
               class="btn btn-success">{{ 'quiz.view.create.button'|trans }}</a>
            <a href="{{ path('teacher_quiz_delete', {'id': quiz.id}) }}"
               class="btn btn-danger confirmDelete" {{ delete_link(quiz.id) }}>{{ 'quiz.view.delete.button'|trans }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'quiz.view.quiz_info.button'|trans }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><b>{{ 'quiz.view.title.label'|trans }}</b></td>
                                <td>{{ quiz.title }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ 'quiz.view.book.label'|trans }}</b></td>
                                <td><a href="{{ path('teacher_book_view', { 'id': quiz.book.id }) }}" target="_blank">{{ quiz.book.title }} ({{ quiz.book.year }})</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'quiz.view.result_chart.title'|trans }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td>Vardas Pavarde</td><td>85.45%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'quiz.view.questions.button'|trans }} <span class="badge badge-classroom-view">{{ quiz.questions|length }}</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            {% for question in quiz.questions %}
                                <tr>
                                    <td colspan="4" style="background-color: #e1edf7"><b>{{ question.title }}</b></td>
                                </tr>
                                <tr>
                                {% for answer in question.answers %}
                                        <td{% if answer.correct %} style="font-weight: bold; color: green"{% endif %}>{{ answer.title }}</td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
