{% extends '@MasterPeaceUpRead/HomePage/student.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'student.classroom.list.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        {% for classroom in classrooms %}
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{ classroom.title }} <a href="{{ path('student_classroom_delete', {'id':classroom.id}) }}">DEL</a></div>
                                <div style="text-align: right">
                                    {{ 'student.classroom.list.quizes'|trans }}: <b>9</b><br />
                                    {{ 'student.classroom.list.active_quizes'|trans }}: <b>2</b><br />
                                    {{ 'student.classroom.list.done_quizes'|trans }}: <b>0</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{{ path('student_classroom_view', {'id':classroom.id}) }}">
                        <div class="panel-footer">
                            <span class="pull-left">{{ 'classroom.list.details'|trans }}</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}