{% extends 'admin_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin/sb-admin-2.css') }}" rel="stylesheet">
    <link href="{{ asset('css/login/font-awesome.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Navigacija</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">UpRead</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <span style="color: #006699">&nbsp;&nbsp;&nbsp;{{ app.user.name }} {{ app.user.surname }} (mokytojas)&nbsp;&nbsp;&nbsp;</span>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Atsijungti</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="{{ path('classroom_list') }}"><i class="fa fa-tasks fa-fw"></i> Mokinių klasės</a>
                    </li>

                    <li>
                        <a href="/"><i class="fa fa-check fa-fw"></i> Klausimynai</a>
                    </li>
                    <li>
                        <a href="{{ path('book_list') }}"><i class="fa fa-book fa-fw"></i> Knygų sąrašas</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Atsijungti</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        {% block page_wrapper %}{% endblock %}
    </div>
    <!-- /#wrapper -->
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/metisMenu.min.js') }}"></script>
    <script src="{{ asset('js/admin/sb-admin-2.js') }}"></script>
{% endblock %}
