{% extends '@MasterPeaceUpRead/UserLayout/student.html.twig' %}

{% block page_wrapper %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ 'quiz.view.title'|trans }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="{{ path('student_quiz_answer', { 'quiz': quiz.id }) }}" class="btn btn-warning">{{ 'quiz.view.answer.button'|trans }}</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'quiz.view.quiz_info.button'|trans }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><b>{{ 'quiz.view.title.label'|trans }}</b></td>
                                <td>{{ quiz.title }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ 'quiz.view.book.label'|trans }}</b></td>
                                <td><a href="{{ path('student_book_view', { 'id': quiz.book.id }) }}" target="_blank">{{ quiz.book.title }} ({{ quiz.book.year }})</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ 'quiz.view.results.title'|trans }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>NERA</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
